Repository bemayr/young-carers-austria, pull requests merged in 2022-11, with the labels that each got.

#93 feat: replaced preview images
  web/src/images/preview/Fotolia_70381304_XXL.jpg
  web/src/images/preview/iStock-1044764224.jpg
  web/src/images/preview/iStock-1077782310.jpg
  web/src/images/preview/iStock-1088753448.jpg
  web/src/images/preview/iStock-1130453486.jpg
  web/src/images/preview/iStock-1198981647.jpg
  web/src/images/preview/iStock-1224670857.jpg
  web/src/images/preview/iStock-1290886278.jpg
  web/src/images/preview/iStock-1328458841.jpg
  web/src/images/preview/iStock-1367774758.jpg
  web/src/images/preview/iStock-1368894688.jpg
  web/src/images/preview/iStock-527271693.jpg
  web/src/images/preview/iStock-541838144.jpg
  web/src/images/preview/iStock-807497968.jpg
  web/src/images/preview/pexels-andrea-piacquadio-3768131.jpg
  web/src/images/preview/pexels-karolina-grabowska-6274959.jpg
  web/src/images/preview/pexels-matthias-zomer-339620.jpg
  web/src/images/preview/pexels-mikhail-nilov-8307433.jpg
  web/src/images/preview/pexels-pixabay-220731.jpg
  web/src/images/preview/pexels-pixabay-45842.jpg
Labels: scope:web, type:chore

#102 97-add-new-features
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/at/sozialministerium/youngcarers/AppInjector.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/BottomNavigationBar.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/MainActivity.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/Navigation.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/NavigationItem.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/YoungCarersApplication.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/cards/AbcDetailCard.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/cards/AbcDetailSideCard.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/cards/CategoryDetailCard.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/cards/EmergencyNumberCard.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/cards/ExpandableFaqsCard.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/cards/InsightsCard.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/cards/InsightsDetailCard.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/core/Utils.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/connectivity/ConnectionState.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Abc.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Category.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Emergency.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Entry.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Faq.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Help.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Infos.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Insight.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Metadata.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Number.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/Reference.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/models/YoungCarersModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/service/MainViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/store/DataRepository.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/store/DataStoreRepository.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/abc/AbcScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/abc/AbcViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/about/AboutScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/about/AboutViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/ChatBotScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/ChatBotViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/Message.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/api/model/Answer.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/api/model/Character.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/api/model/ChatBotModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/api/model/WelcomeMessages.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/api/service/ChatBotAPI.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/button/ChatBotButton.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/detail/DetailScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/detail/DetailViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/emergency/EmergencyScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/emergency/EmergencyViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/help/HelpScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/help/HelpScreenViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/insightDetail/InsightsDetailScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/insightDetail/InsightsDetailViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/onboarding/OnBoarding.kt
  android/app/src/main/res/drawable/ic_baseline_euro_symbol_24.xml
  android/app/src/main/res/drawable/ic_baseline_wifi_off_24.xml
  android/app/src/main/res/values/strings.xml
Labels: scope:android, scope:chatbot, type:chore

#106 feat: updated ios app for 2.0 release
  ios/.gitignore
  ios/Young Carers Austria/Young Carers Austria/Model/Api.swift
  ios/Young Carers Austria/Young Carers Austria/Model/ChatbotModel.swift
  ios/Young Carers Austria/Young Carers Austria/Model/Data.swift
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/HighlightColor.colorset/Contents.json
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/pflegende_angehoerige.imageset/Contents.json
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/pflegende_angehoerige.imageset/pflegende_angehoerige.svg
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_banner.imageset/210917_YA_CMYK 1.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_banner.imageset/210917_YA_CMYK 2.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_banner.imageset/210917_YA_CMYK.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_banner.imageset/210917_YA_invers 1.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_banner.imageset/210917_YA_invers 2.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_banner.imageset/210917_YA_invers.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_banner.imageset/Contents.json
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_graphic.imageset/Contents.json
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_graphic.imageset/feature graphic.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_icon.imageset/210917_YA_Icon 1.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_icon.imageset/210917_YA_Icon 2.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_icon.imageset/210917_YA_Icon.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/Images/yc_icon.imageset/Contents.json
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/Contents.json
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-1125@3x~iphoneX-portrait_1125x2436.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-1242@3x~iphone6s-portrait_1242x2208.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-1242@3x~iphoneXsMax-portrait_1242x2688.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-568h@2x~iphone_640x1136.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-750@2x~iphone6-portrait_750x1334.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-828@2x~iphoneXr-portrait_828x1792.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-Portrait@2x~ipad_1536x2048.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage-Portrait~ipad_768x1024.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage~ipad.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage~iphone-320x480.png
  ios/Young Carers Austria/Young Carers Austria/Supporting Files/Assets.xcassets/LaunchImage.launchimage/LaunchImage~iphone_640x960.png
  ios/Young Carers Austria/Young Carers Austria/View/Colors.swift
  ios/Young Carers Austria/Young Carers Austria/View/Components/ChatbotButton.swift
  ios/Young Carers Austria/Young Carers Austria/View/Components/ExtendedMarkdown.swift
  ios/Young Carers Austria/Young Carers Austria/View/Components/Markdown.swift
  ios/Young Carers Austria/Young Carers Austria/View/Components/Metadata.swift
  ios/Young Carers Austria/Young Carers Austria/View/Components/Reference.swift
  ios/Young Carers Austria/Young Carers Austria/View/Components/TypingIndicator.swift
  ios/Young Carers Austria/Young Carers Austria/View/ContentView.swift
  ios/Young Carers Austria/Young Carers Austria/View/Pages/Categories.swift
  ios/Young Carers Austria/Young Carers Austria/View/Pages/Chatbot.swift
  ios/Young Carers Austria/Young Carers Austria/View/Pages/Emergency.swift
  ios/Young Carers Austria/Young Carers Austria/View/Pages/Insight.swift
  ios/Young Carers Austria/Young Carers Austria/View/Pages/Insights.swift
  ios/Young Carers Austria/Young Carers Austria/View/Pages/Welcome.swift
  ios/Young Carers Austria/Young Carers Austria/ViewModel/ChatbotViewModel.swift
  ios/Young Carers Austria/Young Carers Austria/ViewModel/ViewModel.swift
  ios/Young Carers Austria/Young Carers Austria/YoungCarersAustriaApp.swift
  ios/Young Carers Austria/Young-Carers-Austria-Info.plist
Labels: scope:ios

#104 feat: updated android app for 2.0 release
  android/app/build.gradle
  android/app/src/androidTest/java/at/sozialministerium/youngcarers/ExampleInstrumentedTest.kt
  android/app/src/androidTest/java/at/sozialministerium/youngcarers/IntegrationTests.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/MainActivity.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/data/api/service/APIService.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/ChatBotScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/chatbot/ChatBotViewModel.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/insightDetail/InsightsDetailScreen.kt
  android/app/src/main/java/at/sozialministerium/youngcarers/screens/onboarding/OnBoarding.kt
  android/app/src/test/java/at/sozialministerium/youngcarers/RepositoryTest.kt
Labels: scope:android, type:bug
